@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.video{
    width: 100%;

    @include tablet{
        background-color: black;
        padding: 0 2.25rem;
    }
    @include desktop{
        padding: 0 11.25rem;
    }
    &__title{
        padding: 1.5rem 0;
        border-bottom: solid 1px $mercury;
        
        @include tablet{
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    &__comments{
        padding-bottom: 1rem;  
    }
    &__content-container{
        padding: 0 1rem;
    }
    &__props{
        padding: 1rem 0;
        border-bottom: solid 1px $mercury;
        display: flex;
        justify-content: space-between;
    
        @include tablet{
            padding-bottom: 0;
        }
        &--first{
            @include tablet{
                display: flex;
            }
        }
        &--date{
            @include tablet{
            padding-left: 1rem;
            }
        }
        &--channel{
            padding-bottom: 1rem;
        }
        &--views{
            padding-bottom: 1rem;
        }
       
        &--views-image{
            padding-right: .5rem;
        }
        &--likes-image{
            padding-right: 1rem;
            
            @include tablet{
                padding-left: 1rem;
            }
        }
    }
    &__description{
        padding: 1rem 0;
    }
}
.comments{
    padding:0 1rem;
}
.comments-list{
    list-style-type: none;
    border-bottom: solid 1px $mercury;
    padding-top: 1rem;
    padding-left: 3.25rem;
    position: relative;

    &__item{
        display: flex;
        justify-content: space-between;
       }
    &__border-top{
        border-top: solid 1px $mercury;
    }
    
    &__item--comment{
        padding: 1rem 0;
    }
    
    &__item--avatar{
        height: 2.25rem;
        width: 2.25rem;
        background-color: $mercury;
        border-radius: 50%;
        position: absolute;
        top: 1rem;
        left: 0;
    }
}